body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
navbar{
  background-color: rgba(143, 9, 143,0.7);
  display: block;
  width: 100vw;

}

button{
  border-radius: 20px;
  background-color: #fff;
  border-color: #740e5e;
  border: 1.2px solid;
}

a{
  text-decoration: none;
  color: black;
  font-weight: 200;
  font-style: italic;
}

.main-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.main-container > .content{
  width:80vw;
}
.main-container > .post-list{
  width:20vw;
}

.home-dropdown-row{
  display:flex;
  margin: 1vh 4vw;
  justify-content: space-between;
}

#tag-select{
width: 10vw;
height: 5vh;
text-align: center;
border-radius: 5rem;

}


.post-image{
  width:30vw;
}

.post-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh 4vw;
  line-height: 1.4rem;
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

.filtered .hidden {
  display: none !important;
}

.focus-rousel-container {
  margin: 20px auto;
  max-width: 600px;
  position: relative;
}

.focus-rousel {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /* width: 300px; */
  height: 50vh;
  justify-content: center;
}

.focus-rousel-item {
  /* flex: 0 0 auto; */
  /* padding: 2vh 4vw; */
  /* width: 300px; */
  /* height: 200px; */
  scroll-snap-align: start;
}

.focus-rousel-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  justify-content: space-between;
}

footer {
  background-color: #F5F5F5;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #740e5e;
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
  /* font-weight: bold; */
}
navbar {
  background-color: #F5F5F5;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #740e5e;
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
  /* font-weight: bold; */
}
