body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
navbar{
  background-color: rgba(143, 9, 143,0.7);
  display: block;
  width: 100vw;

}

.main-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.main-container > .content{
  width:80vw;
}
.main-container > .post-list{
  width:20vw;
}

.home-dropdown-row{
  float: right;
  margin: 1vh 2vw;
}

.home-dropdown-row > select{
width: 10vw;
height: 5vh;
text-align: center;
border-radius: 5rem;

}


.post-image{
  width:30vw;
}

.post-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh 4vw;
  line-height: 1.4rem;
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

.filtered .hidden {
  display: none !important;
}

.focus-rousel-container {
  margin: 20px auto;
  max-width: 600px;
  position: relative;
}

.focus-rousel {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 300px;
  height: 200px;
}

.focus-rousel-item {
  flex: 0 0 auto;
  width: 300px;
  height: 200px;
  scroll-snap-align: start;
}

.focus-rousel-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  justify-content: space-between;
}
